.hero {
	background-color: rgba(229, 84, 115, 0.1);
	display: flex;
	justify-content: space-between;
	padding: 3rem 15rem 0 15rem;
	align-items: center;
}
.hero-heading h1 {
	color: #272727;
	font-size: 5rem;
	font-weight: 800;
}

.hero-heading p {
	color: rgba(39, 39, 39, 0.6);
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.875rem;
	margin: 2rem 0;
	width: 41rem;
}

.hero-heading button {
	border-radius: 0.5rem;
	background: #e55473;
	padding: 1.25rem 3rem;
	border: none;
	color: white;
	font-size: 1.25rem;
}

.hero-heading button:hover {
	background-color: #c24762;
	cursor: pointer;
}
